.citiesContainer {
  width: 98%;
  background-color: transparent;
  padding: 15px 10px;
  margin: 0 auto;
}

.citiesContainer span.title1 {
  font-size: 16px;
  font-weight: 550;
  padding: 0px 15px;
  margin-bottom: 1rem;
}
